body {
  margin: 0;
}

.all-reels-window {
  margin: auto;
  margin-top: 100px;
  border: 3px solid black;
  width: 469.5px;
  padding: 5px;
  height: 242px;
  background-color: rgb(43, 43, 43);
}

.reel-window {
  border: 2px solid darkgray;
  border-radius: 6px;
  margin-right: 2.5px;
  width: 150px;
  float: left;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0px 18px 12px -15px rgba(0, 0, 0, 1),
    inset 0px -18px 12px -15px rgba(0, 0, 0, 1);
  background-color: white;
}

.reel-img {
  height: 121px;
  width: 141px;
  margin-left: 4px;
  margin-right: 4px;
  position: absolute;
}

#win-overlay-top-line-outer {
  position: absolute;
  display: inline-block;
  top: 106px;
  width: 100%;
  right: 0;
}

#win-overlay-top-line {
  margin: auto;
  width: 770px;
  display: none;
}

#win-overlay-center-line-outer {
  position: absolute;
  display: inline-block;
  top: 166px;
  width: 100%;
  right: 0;
}

#win-overlay-center-line {
  margin: auto;
  width: 770px;
  display: none;
}

#win-overlay-bottom-line-outer {
  position: absolute;
  display: inline-block;
  top: 226px;
  width: 100%;
  right: 0;
}

#win-overlay-bottom-line {
  margin: auto;
  width: 770px;
  display: none;
}

.spin-button-area {
  width: 469.5px;
  margin: auto;
  position: relative;
  top: 30px;
}

#spin-button {
  width: 100%;
  height: 60px;
  font-size: large;
}

.pay-table {
  width: 469.5px;
  margin: auto;
  position: relative;
  top: 45px;
}

.pay-table table {
  width: 100%;
  border: 1px solid gray;
  text-align: center;
  font-size: 18px;
}

.pay-table th,
td {
  background-color: rgb(255, 247, 210);
  margin: 0;
  padding: 3px;
}

.blinking {
  -webkit-animation: blinkAnim 1s infinite; /* Safari 4+ */
  -moz-animation: blinkAnim 1s infinite; /* Fx 5+ */
  -o-animation: blinkAnim 1s infinite; /* Opera 12+ */
  animation: blinkAnim 1s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes blinkAnim {
  0%,
  49% {
    background-color: rgb(255, 225, 169);
  }
  50%,
  100% {
    background-color: #ff9a9a;
  }
}
