.reels-window {
  margin: auto;
  margin-top: 10em;
  border: 3px solid black;
  width: 46.95em;
  padding: 0.5em;
  height: 30em;
}

.reel {
  border: 0.2em solid darkgray;
  border-radius: 0.6em;
  margin-right: 0.25em;
  width: 15em;
  float: left;
  height: 100%;
  /*overflow: hidden;*/
}

.reel-img {
  height: 12.9em;
  width: 15em;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; /*ease-in-out*/
}

/* The animation code */
@keyframes example {
  0% {
    top: -64.5em;
  }
  25% {
    top: -64.5em;
  }
  50% {
    top: 64.5em;
  }
  75% {
    top: 64.5em;
  }
  100% {
    top: -64.5em;
  }
}
